.container{
    border:2px solid black;
    border-radius: 50%;
    margin: auto;
    background: url(clock.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height:50vw;
    width:50vw;

}
.container2{
    top: 3vw;
    left: 26.75vw;
    position: absolute;
    border:2px solid black;
    border-radius: 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    height:50vw;
    width:50vw;

}

.hour,.min,.sec{
    transform-origin: bottom;
    position: absolute;
    border: 2px solid black;
}
.min{
    top: 13vw;
    left: 49vw;
    background: black;
    position: absolute;
    height: 13vw;
    width: 1vw;
}

.hour{
    top: 16vw;
    left: 49vw;
    background: black;
    position: absolute;
    height: 10vw;
    width: 1vw;
    /* opacity:0.2; */
}
.sec{
    top: 10vw;
    left: 49.5vw;
    background: black;
    position: absolute;
    height: 16vw;
    width: 0.5vw;
    /* opacity: 0.5; */
}